# Env files
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Databases (SQLite, etc.)
*.sqlite3
*.db
*.sqlite

# IDEs
.vscode/
.idea/

# OS files
Thumbs.db
db.db
.DS_Store

# Log files
*.log

# Docker / local storage
storage/*
!storage/.gitkeep
